body {
    overflow: auto;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #FCF6E8;
    min-height: 100vh;
}

.contact-form-container {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 40px; 
    border-radius: 8px;
    max-width: 600px; 
    width: 100%; 
}

.contact-form-container h1 {
    font-size: 32px;
    color: #4A2E18;
    text-align: center; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #4A2E18;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #3B2412;
    transform: scale(1.2); 
}

.contact-form h3 {
    font-family: Arial, sans-serif;
    color: #4A2E18;
    text-align: center; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4A2E18;
}

.form-group input {
    height: 40px;
}

.form-group textarea {
    height: 120px;
}

.submit-button {
    background-color: #4A2E18;
    color: #FFFFFF;
}

.submit-button:hover {
    background-color: #3B2412;
}

.error {
    color: red;
}

.success {
    color: green;
}