.events-container {
    padding: 40px;
    background-color: #FCF6E8;
}

.main-heading {
    font-size: 48px; 
    color: #4A2E18;
    text-align: center;
    margin-bottom: 40px; 
}

.special-event {
    position: relative; /* Allow positioning of tag */
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* Changed to white */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
   width: calc(50% - 20px); 
   margin-left:auto; 
   margin-right:auto; 
}

/* Highlight ongoing event */
.special-event:first-child {
    border-left: 5px solid #4A2E18; /* Highlight border */
}

.ongoing-tag {
    position:absolute; /* Positioning for tag */
    top:-10px; /* Adjust as needed */
    left:-10px; /* Adjust as needed */
    background-color:#FFCC00; /* Bright color for visibility */
    color:#4A2E18; /* Text color */
    padding:5px 10px; /* Padding around text */
    border-radius:5px; /* Rounded corners */
    font-weight:bold; /* Bold text */
}

.event-title {
    font-size: 36px;
    color: #4A2E18;
}

.event-slider {
    margin-bottom: 20px;
}

.slider-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.event-description {
    font-size: 18px;
    color: #4A2E18; 
}

.events-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 28px;
    color: #4A2E18; 
    margin-bottom: 20px;
    text-align: center;
}

.event-card {
   background-color: rgba(255, 255, 255, 0.9);
   border-radius: 8px;
   padding: 15px;
   margin-bottom: 15px; 

   width: calc(50% - 10px); 
   margin-left:auto; 
   margin-right:auto; 
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-card-title {
    font-size: 22px; 
}

.event-card-description {
    font-size: 16px; 
}

.more-info-button {
   display:inline-block;
   margin-top:10px;
   padding:10px 15px;
   background-color:#4A2E18;
   color:white;
   text-decoration:none;
   border-radius:5px;
   transition:.3s ease;
}

.more-info-button:hover {
   background-color:#6F4E37;
}


@media (max-width: 768px) {
   .special-event,
   .event-card {
       width: calc(100% - 10px); 
   }
}
