.home-container {
    padding: 20px; 
    position: relative; 
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center; 
}

.main-header {
    font-size: 48px; 
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4);
}

.sub-header {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6; 
    margin-top: 10px; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.6);
}


.home-button {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(74, 46, 24, 0.8); 
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    border-radius: 12px;
    padding: 15px 30px;
   
   margin-bottom: 10px; 

   transition: background-color 0.3s ease;
   box-shadow: 
       -2px -2px 5px rgba(255,255,255,0.8), 
       inset -2px -2px 5px rgba(255,255,255,0.4);
}

.home-button:hover {
   background-color: rgba(74,46,24,1); 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container .home-button:not(:last-child) {
   margin-bottom: 10px;
}


.navbar .button {
   font-size: 14px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    box-shadow: 
       -2px -2px 5px rgba(255,255,255,0.8), 
       inset -2px -2px 5px rgba(255,255,255,0.4);
}
.social-icons a {
    color: #4A2E18;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.social-icons a:hover {
    color: #3B2412;
    transform: scale(1.2); 
}